/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  font-family: Montserrat;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 3.5em;
  font-family: Montserrat;
}

.navbar {
  background: rgba(0,0,0, .8);
  width: 100%;
  height: 3.5em;
  box-sizing: border-box;
  top: 0;
  position: fixed;

    a {
      display: inline;
      text-decoration: none;
      color: white;
    }

    a:hover {
      background: rgba(0,0,0,1);
      cursor: pointer;
    }

    .signed-in-as {
      padding: 1.1em;
      float: left;
    }

    .right-nav {
      padding: 1.1em;
      vertical-align: middle;
      float: right;
      padding-right: 3em;
    }


    .sign-up {
      margin-right: 30px;
      display: inline-flex;
      padding: 30px;
    }
    .sign-in {
      padding: 30px;
      display: inline-flex;
      margin: 30px;
    }
}

// Sign In
//
//
.sign-in-session {
  max-width: 300px;
  padding-top: 2em;
  margin: 0 auto;
  background: rgba(255,255,255,0.5);
  text-align: center;
  display: flex;
  flex-direction: column;

  .sign-in-form {
    padding: 4em;
  }

  .field {
    margin: 1em 0;
  }
  .submit-button {
    margin-top: 2em;
  }
}
.errors {
  justify-content: center;
  background: white;
  padding: 2em;
  margin: 0 auto;
  width: auto;
  margin: 1em 2em;
  text-align: center;
  font-size: 2em;
  color: red;
  overflow: hidden;
}


// Sign Up

.sign-up-page {
  max-width: 300px;
  padding-top: 2em;
  margin: 0 auto;
  background: rgba(255,255,255,0.5);
  text-align: center;
  display: flex;
  flex-direction: column;

  .sign-up-form {
    padding: 4em;
  }

  .field {
    margin: 1em 0;
  }
  .submit-button {
    margin-top: 2em;
  }
}
